

body{
	background-color:light grey;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-row: 1fr 1fr 1fr;
	display:grid;
	
}
h1{
	grid-column: 1/span 3;
	font-family:arial;
	font-size:22px;
	background-color:red;
	color:white;
}
h2{
	
	grid-row: 3;
	grid-column:1/span 3;
	background-color:green;
	border-radius:10px;
	color:white;
	
}
p.text1{
	background-color:orange;
	border: 3px solid black;
	color:white;

}
p.text2{
	background-color:yellow;
	border: 3px solid black;
	color:black;
}
p.text3{
	grid-row: 4;
	grid-column:3;
	background-color:turquoise;
	border-radius:8px;
	color:pink;
	text-align: center;
}
p.text4{
	grid-row: 4;
	grid-column:1;
	background-color:blue;
	border-radius:8px;
	color:pink;
	text-align: center;
}
p.text5{
	grid-row: 4;
	grid-column:2;
	background-color:purple;
	border-radius:8px;
	color:white;
	text-align: right;
}
a{
	grid-row: 5;
	grid-column:1/span 3;
}